{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>
 <label for="country">Select your country:</label>
 <select id="countrySelect" name="attributes[countrySelect]" required>
   <option value="Dubai">Dubai</option>
   <option value="Abu Dhabi">Abu Dhabi</option>
   <option value="Sharja">Sharja</option>
 </select>
 
 <div style="width: 300px; clear: both;">
   <p>
     <label for="date">Pick a delivery date:</label>
     <input id="dateInput" type="text" name="attributes[dateInput]" required/>
   </p>
 </div>
 
 
 <script>
   $(document).ready(function() {
     const datePicker = $("#dateInput");
     const countrySelector = $("#countrySelect");
 
     function Change() {
       const selectedCountry = countrySelector.val();
       setCookie('selectedCountry', selectedCountry, 1);
       updatepicker(selectedCountry);
     }
 
     function setCookie(cName, cValue, expDays) {
       let date = new Date();
       date.setTime(date.getTime() + (expDays * 24 * 60 * 60 * 1000));
       const expires = "expires=" + date.toUTCString();
       document.cookie = cName + "=" + cValue + "; " + expires + "; path=/";
     }
 
     function getCookieValue(cookieName) {
       var cookieArr = document.cookie.split(";");
 
       for (var i = 0; i < cookieArr.length; i++) {
         var cookiePair = cookieArr[i].split("=");
 
         if (cookieName == cookiePair[0].trim()) {
           return decodeURIComponent(cookiePair[1]);
         }
       }
 
       return null;
     }
 
     function updatepicker(selectedCountry) {
       const currentDate = new Date();
       let minDate;
 
       if (selectedCountry === 'Dubai') {
         minDate = (currentDate.getHours() < 13 || (currentDate.getHours() === 13 && currentDate.getMinutes() <= 30)) ? 0 : 1;
       } else if (selectedCountry === 'Sharja' || selectedCountry === 'Abu Dhabi') {
         minDate = 1;
       } else {
         minDate = 0;
       }
 
       datePicker.datepicker('option', 'minDate', minDate);
       datePicker.val('');
     }
 
     datePicker.datepicker({
       minDate: +1,
       maxDate: '+2M',
       beforeShowDay: $.datepicker.noWeekends,
       onSelect: function (date) {
         console.log("Selected date:", date);
         setCookie('selectedDeliveryDate', date, 1);
       }
     });
 
     countrySelector.on('change', Change);
 
     function initializeForm() {
       const savedCountry = getCookieValue('selectedCountry');
       const savedDate = getCookieValue('selectedDeliveryDate');
 
       if (savedCountry) {
         countrySelector.val(savedCountry);
         updatepicker(savedCountry);
       }
 
       if (savedDate) {
         datePicker.val(savedDate);
       }
     }
 
     initializeForm();
   });
 </script>
 